<br><br>
<div class="example-button-row">
  <button mat-raised-button router-link="notification/create" class="btn btn-primary" style="color: blue;">Create</button>
</div>
<br><br>

<!--table mat-table class="mat-elevation-z8" [dataSource]="allNotifications"-->

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> # </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
  
    <!-- Title Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Title </th>
      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>
  
    <!-- description Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>
  

    <!-- actions column-->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let element">
              <button mat-fab router-link="" color="primary" aria-label="Example icon button with a delete icon">
                <!--mat-icon>delete</mat-icon-->
              </button>

              <button mat-mini-fab router-link="notification/edit" color="primary" aria-label="Example icon button with a menu icon">
                <!--mat-icon>edit</mat-icon-->
              </button>
      </td>
    </ng-container>
  
  
    <tr mat-header-row *matHeaderRowDef="['id', 'title', 'description']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['id', 'title', 'description']"></tr>
  <!--/table-->
  
  