<div class="container">
    <legend>Edit User</legend>
    <form>
      <div class="mb-4">
        <label for="txtEmail" class="form-label">Email</label>
        <!-- email input -->
        
      </div>
      <div class="mb-4">
        <label for="txtUsername" class="form-label">Username</label>
        <!-- username input-->

      </div>
      <div class="mb-4">
        <label for="txtSpeciality" class="form-label">Speciality</label>
        <!--speciality input-->
      </div>
      <button type="button" (click)="update()" class="btn btn-primary">Edit</button>
    </form>
</div>