<div class="container">
    <legend>Create Notification</legend>
    <form>
        <!--title validation-->
        <label for="txtTitle" class="form-label"><Title></Title></label>
        <!--mat-form-field>
            <mat-label>Enter the Title</mat-label>
            <input matInput>
          </mat-form-field-->
      
        <!--Description validation-->
        <label for="txtDescription" class="form-label">Description</label>
        <!--mat-form-field>
            <mat-label>Enter the Description</mat-label>
            <input matInput>
          </mat-form-field-->


          <button type="submit" mat-raised-button color="primary" >Submit</button>
          <button type="button" mat-button color="accent" routerLink="/notification/home" >Cancel</button>
    </form>
</div>