<div class="container">
    <legend>Create User</legend>
    <form>
      <div class="mb-4">
        <!--Email validation-->
        <label for="txtEmail" class="form-label">Email</label>
        <div class="example-container">
            <mat-form-field class="example-full-width">
                <mat-label>Email</mat-label>
                <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
                       placeholder="Ex. pat@example.com">
                <mat-hint>Errors appear instantly!</mat-hint>
                <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                  Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="emailFormControl.hasError('required')">
                  Email is <strong>required</strong>
                </mat-error>
              </mat-form-field>
          </div>
      </div>
      <div class="mb-4">
        <!--Username validation-->
        <label for="txtUsername" class="form-label">Username</label>
        <mat-form-field>
            <mat-label>Enter your username</mat-label>
            <input matInput>
          </mat-form-field>
      </div>
      <div class="mb-4">
        <!--Password validation-->
        <label for="txtPassword" class="form-label">Password</label>
        <mat-form-field>
            <mat-label>Enter your password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
      </div>
      <div class="mb-4">
        <!--Speciality validation-->
        <label for="txtSpeciality" class="form-label">Speciality</label>
        <mat-form-field>
            <mat-label></mat-label>
            <mat-select>
              <mat-option value="one">Admin</mat-option>
              <mat-option value="two">Moderator</mat-option>
              <mat-option value="three">User</mat-option>
            </mat-select>
          </mat-form-field>
      </div>
      <button type="button" (click)="create()" class="btn btn-primary">Create</button>
    </form>
</div>